*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-size: 15px; */
    padding: 0;
}

p {
    display: flex;
    flex-direction: row;
    /* margin-top: 0px; */
    border-color: black;
    border-radius: 1px;
    /* margin-bottom: 20px; */
    font-size: large;
    max-width: 78%;
    color: aliceblue;
    background-color: darkslateblue;
    justify-content: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    line-height: 1.5;
    margin-top: -20px;
    /* margin-bottom: -20px; */
    /* background-image: url(images/backrougnd.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* .background {
    opacity: .5;
} */

.heads {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    color: aliceblue;
    background-color: darkslateblue;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* width: 100%; */
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* 
.gallery {
    display: flex;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    padding-top: 20px;
    flex-direction: column; */

/* } */
.gallery_img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    background-color: black;
    align-content: center;
    justify-content: center;
    flex: 0, 1, auto;
}

.gallery_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-width: 500px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(148, 175, 233);
    color: #444;
    cursor: pointer;
    padding: 18px;
    /* width: 60%; */
    border: none;
    max-width: 500px;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: rgb(95, 125, 190);
}

.fig1 {
    margin: 1%;
}

.col-1 {
    margin-top: 50%;
    margin-bottom: 3%;
}